<div class="container chain-info">
  <h1>Blockchain information</h1>
  <h3>Number Of Users: {{{numberOfUsers}}}</h3>
  <h3>Number Of Transactions: {{{numberOfTransactions}}}</h3>
  <h3>Coin Price: {{{price}}}</h3>
  <h3>Current Mining Difficulty: {{{difficulty}}}</h3>
  <h3>Current Mining Reward: {{{reward}}}</h3>
</div>